@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'

@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff2')


@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2')
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2')
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2')
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2')
@include font('Gothampro', normal, 400, '../fonts/gothampro-normal.woff2')
@include font('Gothampro', bold, 700, '../fonts/gothampro-bold-webfont.woff2')
@include font('Gothampro', light, 300, '../fonts/gothampro-light-webfont.woff2')
@include font('Gothampro', medium, 500, '../fonts/gothampro-medium-webfont.woff2')

// User variables:
$accent: #ffcc00
$text: #292929
$text-lite: #626262

$tran: all 0.3s ease



::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green
ul,
li
	margin: 0
	padding: 0
	list-style: none
button
	border: none
body
	font-size: 12px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Gothampro', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use
a
	text-decoration: none
	transition: $tran
	color: $text
	&:hover, &:active
		outline: none
		text-decoration: none
		color: lighten($text, 80%)
		border-color: lighten($text, 80%)

section
	padding: 80px 0
svg
	vertical-align: top
.wrapper
	max-width: 940px
	margin: 0 auto
.header
	margin-bottom: -30px
	z-index: 2
	position: relative
.logo
	&__img
		fill: $text
	&__nav
		display: flex
		flex-direction: row
		justify-content: space-between
		padding: 30px 0

	&__link
		display: flex
	&__text
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 0 14px
		p
			font-weight: 300
			font-size: 11px
			color: $text-lite
			line-height: 22px
			margin: 0
			&:first-child
				font-size: 20px
				text-transform: uppercase
				font-weight: 700
				line-height: 22px
				font-family: 'Gothampro', sans-serif
				color: $text
				line-height: 22px
				margin-bottom: 0

.call-back
	font-size: 12px
	color: $text
	border: 2px solid $text
	padding: 8px 25px
	font-weight: 500
	margin-left: 30px
.call-header
	display: flex
	align-items: flex-start
	.phone-heder
		text-align: right
		display: flex
		flex-direction: column
		justify-content: space-around
	a
		&:first-child
			font-size: 18px
			font-weight: 700
			line-height: 22px
			margin-bottom: 5px
			color: $text
	p
		line-height: 11px
		margin: 0
		font-size: 11px
		color: $text-lite

.nav
	background-color: $accent
	line-height: 22px
	font-weight: 500
	font-size: 14px

.nav
	&__list
		display: flex
		list-style: none
		justify-content: center
		padding: 0
	&__item
		width: 150px
		height: 60px
		display: flex
		justify-content: center
		align-items: stretch
		align-content: center
	&__link
		flex-grow: 1
		display: flex
		justify-content: center
		align-items: center
		//background-color: $accent
		&:hover
			background-color: darken($accent, 3%)

.first-screen
	padding: 170px 0 140px
	background-image: url(../images/@2x/first-bg.jpg)
	background-position: top center
	background-repeat: no-repeat
	background-size: cover
	z-index: 1
	position: relative
	&__title-description
		color: #fff
		max-width: 240px
		font-weight: 300
		font-size: 14px
		margin-bottom: 50px
	&__link-inner
		display: flex
		align-items: center
	&__link-btn
		color: #0d0d0d
		font-size: 12px
		font-weight: 500
		width: 200px
		height: 50px
		background-color: $accent
		padding: 15px 0
		text-align: center
		margin-right: 30px
	&__link
		color: #fff
		font-size: 12px
		font-weight: 500
.title
	font-family: 'Gothampro'
	font-weight: bold
	text-transform: uppercase
	font-size: 20px
	color: $text
	line-height: normal
	text-align: center
	margin-bottom: 60px
	&--first-screen
		font-size: 36px
		color: #fff
		margin-bottom: 30px
		text-align: left

.always-available
	padding: 80px 0
	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__item
		width: 300px
		padding: 38px 23px 36px
		text-align: center
		border: solid 2px #f6f6f6
		span
			display: block
	&__img-box
		width: 100%
		height: 145px
		position: relative
		margin-bottom: 30px
	&__img
		max-width: 100%
		position: absolute
		left: 0
		bottom: 0
	&__item-title
		font-size: 15px
		text-transform: none
		font-weight: 500
		text-decoration: underline
		text-decoration-color: $text-lite
		
	&__text
		color: $text-lite
		font-size: 13px
		font-weight: 300
		line-height: normal
		margin-bottom: 29px
	&__price
		font-size: 16px
		font-weight: 500
		color: #0f0f0f
		margin-bottom: 32px

.button-item
	width: 180px
	height: 50px
	background-color: #ffd200
	font-weight: 500
	font-size: 12px
	line-height: 1.83
	transition: $tran
	&:hover, &:active
		outline: none
		text-decoration: none
		color: lighten($text, 80%)
		border-color: lighten($text, 80%)
		background-color: darken($accent, 3%)

.benefits
	background-color: #f4f4f4
	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__item
		width: 300px
		border: solid 2px #fff
		text-align: center
		padding: 40px 25px
		transition: $tran
		&:hover
			box-shadow: 0px 9px 21px 0 rgba(0, 0, 0, 0.05)
			background-color: #fff
	&__img
		margin-bottom: 40px
	&__title
		margin-bottom: 20px
		font-size: 15px
		font-weight: 500
	&__text
		margin-bottom: 0