// User variables:
$accent: #ff0a6a
$text: #333
$bg-color: linear-gradient(25deg, #e12462 0%, #ff4d87 100%)

// Burger
$wburger: 20px //ширина бургера
$hburger: 15px //высота бургера
$hline: 1px //толщина линии бургера
$color: #000 //цвет бургера и текста меню
$colActive: #000 //цвет active
body.lock /* блокировка скрола при открытом меню */


// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

