@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'ProximaNova-Semibold', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use
*
	&:focus
		outline-color: #ff5b97
button
	padding: 0
	border: none
	font: inherit
	color: inherit
	background-color: transparent
	cursor: pointer
a
	text-decoration: none
	color: inherit
	transition: all .3s ease
	&:hover, &:active
		text-decoration: none
		color: $accent

.wrapper
	max-width: 1600px
	padding-top: 50px
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto

.logo-img
	width: 43px
	height: 34px
	background-image: url(../img/_src/logo.svg)

header
	max-width: 1200px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	margin-left: auto
	margin-right: auto

.logo
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	.logo-img
		margin-right: 18px
	.logo-text
		font-size: 24px
		span
			color: #ff4d87

nav
	margin-right: 100px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: space-between
	width: 700px
.header-nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	padding: 0
	text-transform: uppercase
	margin: 0
	align-items: center
	width: 90%
	.active
		color: $accent
	li
		list-style: none

.button
	width: 15px
	height: 13px
	background-image: url(../img/_src/burger.svg)
	margin-bottom: 4px
	&:focus
		outline-color: #ff5b97