@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 12px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Gothampro', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use

.logo-nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row

svg
	vertical-align: top
.wrapper
	max-width: 940px
	margin: 0 auto

.logo
	div
		display: inline-block
		margin-top: 2px
		padding: 0 14px
		p
			font-weight: 300
			font-size: 11px
			color: $text-lite
			line-height: 22px
			&:first-child
				font-size: 20px
				text-transform: uppercase
				font-weight: 700
				line-height: 22px
				font-family: 'Gothampro', sans-serif
				color: $text
				line-height: 22px
				margin-bottom: 0