@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 12px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Gothampro', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use
a
	text-decoration: none
	transition: $tran
	color: $text
	&:hover, &:active
		outline: none
		text-decoration: none
		color: lighten($text, 20%)
		border-color: lighten($text, 20%)

.logo-nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between
	margin-bottom: 30px

svg
	vertical-align: top
.wrapper
	max-width: 940px
	margin: 0 auto

.logo
	.logo-link
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	.logo-text
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 0 14px
		p
			font-weight: 300
			font-size: 11px
			color: $text-lite
			line-height: 22px
			margin: 0
			&:first-child
				font-size: 20px
				text-transform: uppercase
				font-weight: 700
				line-height: 22px
				font-family: 'Gothampro', sans-serif
				color: $text
				line-height: 22px
				margin-bottom: 0

.call-back
	font-size: 12px
	color: $text
	border: 2px solid $text
	padding: 8px 25px
	font-weight: 500
	margin-left: 30px
.call-header
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-start
	.phone-heder
		text-align: right
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: space-around
	p
		&:first-child
			font-size: 18px
			font-weight: 700
			line-height: 22px
			margin-bottom: 5px
			color: $text
	p
		line-height: 11px
		margin: 0
		font-size: 11px
		color: $text-lite

nav
	background-color: $accent
	line-height: 22px
	font-weight: 500
	font-size: 14px

.nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	list-style: none
	justify-content: center
	padding: 0
	.nav-item
		width: 150px
		height: 60px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: stretch
		align-content: center
.nav-link
	flex-grow: 1
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	background-color: $accent
	&:hover
		background-color: darken($accent, 2%)